body {
    font-family: Arial, sans-serif;
    background-color: #c0c0c0;
    margin: 1;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    background-color: #00ffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}

div {
	overflow-x:auto;
}





.container {
    margin: 20px;
}

.section {
    margin-bottom: 20px;
}

.section label {
    font-weight: bold;
}

.document {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}