<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Welcome to JAX-WS</display-name>
	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>helloWs</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>helloWs</servlet-name>
		<url-pattern>/HelloWs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>helloWs</servlet-name>
		<url-pattern>/BookWs</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
</web-app>